.dashboard {

    background-color: rgb(1, 37, 15);
    height: 100vh;
    color: white;
    cursor: pointer;
    padding-left: 20px;
    

  }
  
  .dashboard-menu:hover {
    color: cyan;
  }
  .dashboard-container{
    margin:0;
    padding: 0;

  }